.header {
  width: 100%;
  padding: 24px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  border-bottom: 1px solid var(--card-border-color);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius);
  background: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  color: var(--background);
}

.logoText {
  font-size: 20px;
  font-weight: 600;
  color: var(--foreground);
  letter-spacing: -0.01em;
}
